<div class="menu">
    MENU
    <ul>
        <li>
            <a href="/home/123">Go Edit</a>
        </li>
        <li>
            <a href="/home/a">Go Show</a>
        </li>
        <li>
            <a href="/home">Go List/Index</a>
        </li>
    </ul>
    <ol>
        <label>
            API TEST:
        </label>
        <div id="list"></div>
    </ol>
</div>
<script>
$.get('/v1/api/friends', function(data){
    console.log(data);
    var d = document.getElementById('list');
    d.innerHTML = JSON.stringify(data.result);
});
</script>
